# clangd
.cache/
compile_commands.json

# python
__pycache__/

# Build artifacts
riscv-assembler
riscv-emulator
Makefile.config
*.o
*.d

# Codegen artifacts
emulator/dynarec_x86_64_codegen/codegen
emulator/dynarec_x86_64_codegen.c

# Tests artifacts
*.hex
*.bin
*.state
*.state_uc
